/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

* header {
    box-sizing: border-box;
    background-color: black(37,37,37);
    height: fit-content;
    /* height: 6vh;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-title {
    margin: 5px;
    background-color: blueviolet;
    height: fit-content;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.home-button {
    background-color: chartreuse;
    text-align: center;
    width: fit-content;
    padding: 10px;

}

.topics-button {
    background-color: chartreuse;
    text-align: center;
    width: fit-content;
    padding: 10px;
}

.subscribe-button {
    background-color: chartreuse;
    text-align: center;
    width: fit-content;
    padding: 10px;
    position: relative;
}

.sign-in {
    background-color: chartreuse;
    text-align: center;
    width: fit-content;
    padding: 10px;
}

.article-title {
    background-color: cyan;
    height: fit-content;
    font-size: x-large;
}

.article {
    height: fit-content;
    width: fit-content;
    background-color: crimson;
}

.your-name {
    height: 30px;
    width: fit-content;
    background-color: darkkhaki;
    box-shadow: darkgray 5px;
}

.popular-articles {
    height: 30px;
    width: fit-content;
    background-color: darkkhaki;
}


.image-gallery-title {
    background-color: cyan;
    height: fit-content;
    font-size: x-large; 
}

.image-container {
    background-color: darkgrey;
    height: fit-content;
    width: fit-content;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

#placeholder {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 200px;
    width: 200px; 

}

.footer-note {
    background-color: cyan;
    height: 50px;
    font-display: center;
    font-size: smaller;

}

